<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Ingia Kwenye Mfumo</h2>
    <input type="text" placeholder="Jina la Muumini"><br>
    <input type="password" placeholder="Nenosiri"><br>
    <button onclick="alert('Umeingia!')">Login</button>
    
    <p>Huna akaunti? <a href="/">Rudi Nyumbani</a></p>
</body>
</html>
